---
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Watchdog</title>
		<link rel="stylesheet" href="{{site.baseurl}}/styles.css" />
	</head>
	<body>
		<h1>Watchdog 🐶</h1>
		<noscript>
			Watchdog relies on <a href="{{site.baseurl}}/index.js">Javascript</a> to create the search query.
			<br />
			Enable it for this site via Chromium or NoScript settings.
		</noscript>
		<form action="{{site.baseurl}}/ENABLE_JAVASCRIPT" id="query">
			<h2>Return results with...</h2>
			<ul>
				{% for option in site.data.options.as %}
				{% include as.html name=option.name description=option.description options=site.data.options.query %}
				{% endfor %}
				<li>
					Creation date from
					<input type="date" id="as_qdrlo" name="as_qdrlo" />
					to
					<input type="date" id="as_qdrhi" name="as_qdrhi" />
				</li>
			</ul>
			<h2>Return results from...</h2>
			<ul>
				{% for option in site.data.options.source %}
				{% include source.html source=option.source name=option.name %}
				{% endfor %}
			</ul>
			<button type="submit" id="search">Search!</button>
		</form>
		<hr />
		<a href="https://github.com/tf2spi/watchdog.git">Watchdog's Source Code</a>
		<script src="{{site.baseurl}}/index.js"></script>
	</body>
</html>
